<aside class="sidebar">
  <div class="sidebar__brand">
    <img class="brand-icon" src="/shell/static/img/abicus.png?v={{ asset_v }}" alt="" aria-hidden="true">
    <span class="wordmark">Abicus</span>
  </div>
  <nav class="sidebar__nav">
    <div class="nav-section">
      <div class="nav-section__label">Tools</div>
      <a href="/outflows" class="nav-link nav-outflows">
        <img class="nav-link__icon" src="/shell/static/img/outflows.png?v={{ asset_v }}" alt="" aria-hidden="true">
        <span class="nav-link__label">My Outflows</span>
      </a>
      <a href="/assets" class="nav-link nav-assets">
        <img class="nav-link__icon" src="/shell/static/img/assets.png?v={{ asset_v }}" alt="" aria-hidden="true">
        <span class="nav-link__label">My Assets</span>
      </a>
      <a href="/claims" class="nav-link nav-claims">
        <img class="nav-link__icon" src="/shell/static/img/claims.png?v={{ asset_v }}" alt="" aria-hidden="true">
        <span class="nav-link__label">My Claims</span>
      </a>
      <a href="/loan" class="nav-link nav-loan">
        <img class="nav-link__icon" src="/shell/static/img/loan.png?v={{ asset_v }}" alt="" aria-hidden="true">
        <span class="nav-link__label">My Loan</span>
      </a>
    </div>
  </nav>
</aside>
